<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %}
ホーム
{% endblock %}

{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<img src="{% static 'img/umi.jpg' %}" class="top_pic">

<h2 class="title-h2">このサイトを使って自分の釣りをレベルアップしよう！</h2>

<div class="flex">
<tr>       
    <a href="{% url 'fish:category_search' %}">
        <div class="border-radius">
            <td><img src="{% static 'img/fishSerch.jpg' %}" class="img-radius"></td>
            <h1 class="category-h1">魚種検索</h1>
    </div>
    </a>


    <a href="{% url 'fish:place_search' %}">
        <div class="border-radius">
            <td><img src="{% static 'img/placeimg.jpg' %}" class="img-radius"></td>
            <h1 class="category-h1">場所検索</h1>
        </div>
    </a>

    <a href="{% url 'fish:every_result' %}">
        <div class="border-radius">
            <td><img src="{% static 'img/every.jpg' %}" class="img-radius"></td>
            <h1 class="category-h1">みんなの投稿</h1>
        </div>
    </a>
</tr>
</div>

    <div class="index_margin_position">
        <h2 class="index_margin_title">最新の投稿</h2>
        <p class="index_margin_baby">みんなの状況を参考に自分の釣りを作り出していこう！</p>
    </div>　　

    <div class="NewPost-parent">
        {% for fish in object_list %}
        
        
        <a href="{% url 'fish:article_detail' fish.pk %}">
            <div class="NewPost-margin">
                <div class="new_list_border">
                    <img src="{{ fish.fish_img.url }}" class="new_list_photo">
                    <div class="new_list_margin">

                        

                        
                        <div class="new_list_day">
                            {{ fish.created_at }}
                        </div>

                        <div class="new_fish_category">
                            魚：{{ fish.fish_category }}
                        </div>    
                        
                        <div class="new_list_length">
                            {{ fish.length }}cm
                        </div>
                        

                        <div class="new_list_place">
                            {{ fish.place }}
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
        
    </div>
    

<div class="taget_position">
    <h2 class="index_margin">人気のターゲット</h2>
</div>


<div class="flex_category">
    <tr>       
        <a href="http://118.27.16.74/category_result/?keyword=%E3%83%96%E3%83%A9%E3%83%83%E3%82%AF%E3%83%90%E3%82%B9">
            <div class="border-radius_category">
            <div class="main-fl"></div>
                <td><img class="category_img" src="{% static 'img/IMG_2056.jpeg' %}"></td>
                <h1 class="category-p">ブラックバス</h1>
            </div>
        </a>

        <a href="http://118.27.16.74/category_result/?keyword=%E3%83%88%E3%83%A9%E3%82%A6%E3%83%88">
            <div class="border-radius_category">
            <div class="main-fl"></div>
                <td><img class="category_img" src="{% static 'img/IMG_3067.jpeg' %}"></td>
                <h1 class="category-p">トラウト</h1>
        </div>
        </a>
        <a href="http://118.27.16.74/category_result/?keyword=%E3%82%B7%E3%83%BC%E3%83%90%E3%82%B9">
            <div class="border-radius_category">
            <div class="main-fl"></div>
                <td><img class="category_img" src="{% static 'img/IMG_3071.jpeg' %}"></td>
                <h1 class="category-p">シーバス</h1>
        </div>
        </a>
    
        <a href="http://118.27.16.74/category_result/?keyword=%E3%82%A2%E3%82%B8">
            <div class="border-radius_category">
                <td><img class="category_img" src="{% static 'img/IMG_0035.jpeg' %}"></td>
                <h1 class="category-p">アジ</h1>
            </div>
        </a>

    </tr>
    </div>

<div class="postion_place">
    <h2 class="index_margin2">人気のエリア</h2>
</div>

<div class="flex_place">
    <tr>       
        <a href="http://0.0.0.0:8000/place_result/?keyword=%E6%9D%B1%E4%BA%AC%E6%B9%BE">
            <div class="border-radius_category">
            <div class="main-fl"></div>
                <td><img class="category_img" src="{% static 'img/tokyo.jpg' %}"></td>
                <h1 class="category-p">東京湾</h1>
        </div>
        </a>

        <a href="http://0.0.0.0:8000/place_result/?keyword=%E7%90%B5%E7%90%B6%E6%B9%96">
            <div class="border-radius_category">
            <div class="main-fl"></div>
                <td><img class="category_img" src="{% static 'img/biwa.jpg' %}"></td>
                <h1 class="category-p">琵琶湖</h1>
        </div>
        </a>
        <a href="http://0.0.0.0:8000/place_result/?keyword=%E9%A7%BF%E6%B2%B3%E6%B9%BE">
            <div class="border-radius_category">
            <div class="main-fl"></div>
                <td><img class="category_img" src="{% static 'img/suruga.jpg' %}"></td>
                <h1 class="category-p">駿河湾</h1>
        </div>
        </a>
    
        <a href="http://0.0.0.0:8000/place_result/?keyword=%E7%80%AC%E6%88%B8%E5%86%85">
            <div class="border-radius_category">
                <td><img class="category_img" src="{% static 'img/setouti.jpg' %}"></td>
                <h1 class="category-p">瀬戸内</h1>
            </div>
        </a>

    </tr>
    </div>

    <footer class="index-footer">
        　　<ul class="footer-menu">

             <a href="{% url 'fish:index' %}">
                <li> 利用規約 ｜</li>
            </a>

             <a href="{% url 'fish:index' %}">
                <li>ホーム ｜</li>
            </a>

            <a href="{% url 'fish:contact_form' %}">
                <li>お問い合わせ </li>
             </a>

            </ul>
            
          </footer>


{% endblock %}