.center{
    text-align: center;
    background-color: #E8E8E8;
    height: 600px;
}

.textinputclass{
    width: 800px;
    height: 50px;
    font-size: 200%;
}

.text{
    width: 800px;
    height: 50px;
    font-size: 200%;
}

.category{
    width: 800px;
    height: 50px;
}