.NewPost-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
  }
  
  .NewPost-parent::after{
    content: "";
    display: block;
    width: 390px;
  }
  
  .NewPost-margin {
    margin-bottom: 40px;
  }
  
  .new_list_border {
      border: 1px solid #000000;
      width: 390;
      height: 450;
      border-radius: 10px 10px 10px 10px;
      position: relative;
  }
  
  .new_list_photo {
    width: 390px;
    height: 275px;
    object-fit: cover;
    border-radius: 9px 9px 0px 0px;
  }
  
  .new_list_margin{
    margin-left: 15px;
  }
  
  .new_list_day{
    position: static;
  }
  
  .new_list_category{
    position: static;
  }
  
  .new_list_length{
    position: absolute;
    left: 300px;
    bottom: 23px;
  }
  .new_list_place{
    position: relative;
  }
  
  .posi-padiing{
    position: absolute;
    bottom: -10px;
  }
  
  .keyword_position{
    margin-left: 40px;
  }

  @media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
  .place_margin {
    position: absolute;
    top: 130px;
    left: 15px;
    font-size: 20px;
}
  }