html, body {
    margin: 0;
  }
  
  .container {
    background-color: #E8E8E8;
    overflow: auto;
  }

  header .container {
    display: flex;
    justify-content: space-between;
  }

  header h1 {
    margin: 0;
    height: 100%;
    line-height: 70px;
  }

  .header-search { 
    margin-right: 40px;
    display: flex;
    align-items: center;
  } 

  .header-h1 {
    margin-left: 40px;
  }

  .search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 265px;
  overflow: hidden;
  background: rgb(255, 255, 255);
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #3879D9;
  color: #fff;
  position: absolute;
  width: 3.5em;
  height: 3.0em;
  right:0px;
  top: -3px;
  outline : none;
}

.btn-gradient-radius {
  display: inline-block;
  padding: 5px 5px;
  border-radius: 25px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-image: linear-gradient(45deg, #C8C8C8 0%, #C8C8C8 100%);
  transition: .4s;
  border: 1px solid #000000;
  font-size: 12px;
  text-align: center;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #8C8C87 0%, #8C8C87 100%);
}

footer{
  width: 100%;
  height: 100px;
  background-color: #E5E5E5;
  color: rgb(0, 0, 0);
  text-align: center;
  
}
ul.footer-menu li {
display: inline;
}

.my-parts {
	display: inline-block;
	width: 50px;
	height: 50px;
	font-size: 50px;
	position: relative;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	cursor: pointer;
}
.my-parts span {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	width: 56%;
	height: 56%;
	border-radius: 50%;
	margin: -.28em 0 0 -.28em;
	border: .12em solid #673AB7;
}
.my-parts span::after {
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	left: 50%;
	width: 72%;
	height: 36%;
	background: #673AB7;
	margin: .2em 0 0 .14em;
	transform: rotate(45deg);
}





@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */

  header .container {
    display: flex;
    justify-content: space-between;
  }
.header-h1{
  margin-left: 10px;
}

.header-search { 
  margin-right: 5px;
  display: flex;
  align-items: center;
} 

.btn-gradient-radius {
  display: inline-block;
  padding: 5px 5px;
  border-radius: 25px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-image: linear-gradient(45deg, #C8C8C8 0%, #C8C8C8 100%);
  transition: .4s;
  border: 1px solid #000000;
  font-size: 1px;
  text-align: center;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #8C8C87 0%, #8C8C87 100%);
}

.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 265px;
  overflow: hidden;
  background: rgb(255, 255, 255);

  display: none;
}
}
