<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">



    <img src="{{ object.header.url }}" class="mypage-header">
    
        <br><img src="{{ object.icon.url }}" class="mypage-icon">
        <p class="position-name-tag">名前</p>
        <p class="position-name">{{ object.user_name }}</p>

        <hr width="800" align="left" class="align1">

        <p class="positions-comment-tag">自己紹介</p>
        <p class="position-comment">{{ object.text| linebreaksbr}}</p>

        <hr width="800" align="left" class="align2">

        {% if request.user.id == object.user.id %}
        <a class="edit-btn" href="{% url 'fish:profile_edit' user.pk %}">編集</a>
        {% endif %}

<p class="position-user-name">{{ object.user_name }}さんの釣果</p>
<div class="position-post">
    <div class="NewPost-parent">
        {% for fish in Article_list %}
        

        <a href="{% url 'fish:article_detail' fish.pk %}">
            <div class="NewPost-margin">
                <div class="new_list_border">
                    <img src="{{ fish.fish_img.url }}" class="new_list_photo">
                    <div class="new_list_margin">

                        

                        
                        <div class="new_list_day">
                            {{ fish.created_at }}
                        </div>

                    
                            魚：{{ fish.fish_category }}
                            <div class="new_list_length">{{ fish.length }}cm</div>
                        

                        <div class="new_list_place">
                            {{ fish.place }}
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
        
    </div>

    <a href="{% url 'fish:mypage_pading' object.user.pk %}">その他の投稿</a>
    <a href="{% url 'fish:index' %}">トップページに戻る</a>

<div>
</div>
</div>
<footer class="index-footer">
    　　<ul class="footer-menu">

         <a href="{% url 'fish:index' %}">
            <li> 利用規約 ｜</li>
        </a>

         <a href="{% url 'fish:index' %}">
            <li>ホーム ｜</li>
        </a>

        <a href="{% url 'fish:index' %}">
            <li>お問い合わせ </li>
         </a>

        </ul>
        
      </footer>

{% endblock %}