<!DOCTYPE html>
{% extends 'base.html' %}


{% block title %}
新規投稿
{% endblock %}

{% load static %}
{% block content %}


<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/article_new.css' %}">
</head>


<div class="center">
    <form action="{% url 'fish:article_create' %}" method="POST"enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">作成</button>
    </form>
</div>

<a href="{% url 'fish:category_create' %}">お探しの魚種がない方はこちらから登録可能</a>
<a href="{% url 'fish:place_create' %}">お探しの場所がない方はこちらから登録可能</a>

    {% endblock %}