<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}

{% block title %}
魚種検索
{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

<img src="{% static 'img/umi.jpg' %}" class="top_pic">


<h2 class="place_margin">釣りたい魚の状態を調べよう！！</h2>

<div>

    <form method="get" action="{% url 'fish:category_result' %}" class="search-eria">
        <input type="text" size="25" placeholder="魚種検索" name="keyword">
        <input type="submit" value="&#xf002">
      </form>
</div>  



<h2 class="index_margin">人気のターゲット</h2>
 
<div class="flex_category">
    <tr>       
        <a href="/category_result/?keyword=%E3%83%96%E3%83%A9%E3%83%83%E3%82%AF%E3%83%90%E3%82%B9">
            <div class="border-radius_category">
            <div class="main-fl"></div>
                <td><img class="category_img" src="{% static 'img/IMG_2056.jpeg' %}"></td>
                <h1 class="category-p">ブラックバス</h1>
            </div>
        </a>

        <a href="/category_result/?keyword=%E3%83%88%E3%83%A9%E3%82%A6%E3%83%88">
            <div class="border-radius_category">
            <div class="main-fl"></div>
                <td><img class="category_img" src="{% static 'img/IMG_3067.jpeg' %}"></td>
                <h1 class="category-p">トラウト</h1>
        </div>
        </a>
        <a href="/category_result/?keyword=%E3%82%B7%E3%83%BC%E3%83%90%E3%82%B9">
            <div class="border-radius_category">
            <div class="main-fl"></div>
                <td><img class="category_img" src="{% static 'img/IMG_3071.jpeg' %}"></td>
                <h1 class="category-p">シーバス</h1>
        </div>
        </a>
    
        <a href="/category_result/?keyword=%E3%82%A2%E3%82%B8">
            <div class="border-radius_category">
                <td><img class="category_img" src="{% static 'img/IMG_0035.jpeg' %}"></td>
                <h1 class="category-p">アジ</h1>
            </div>
        </a>

    </tr>
    </div>

<h2 class="index_margin">人気のエリア</h2>

<div class="flex_category">
    <tr>       
        <a href="/place_result/?keyword=%E6%9D%B1%E4%BA%AC%E6%B9%BE">
            <div class="border-radius_category">
            <div class="main-fl"></div>
                <td><img class="category_img" src="{% static 'img/tokyo.jpg' %}"></td>
                <h1 class="category-p">東京湾</h1>
        </div>
        </a>

        <a href="/place_result/?keyword=%E7%90%B5%E7%90%B6%E6%B9%96">
            <div class="border-radius_category">
            <div class="main-fl"></div>
                <td><img class="category_img" src="{% static 'img/biwa.jpg' %}"></td>
                <h1 class="category-p">琵琶湖</h1>
        </div>
        </a>
        <a href="/place_result/?keyword=%E9%A7%BF%E6%B2%B3%E6%B9%BE">
            <div class="border-radius_category">
            <div class="main-fl"></div>
                <td><img class="category_img" src="{% static 'img/suruga.jpg' %}"></td>
                <h1 class="category-p">駿河湾</h1>
        </div>
        </a>
    
        <a href="/place_result/?keyword=%E7%80%AC%E6%88%B8%E5%86%85">
            <div class="border-radius_category">
                <td><img class="category_img" src="{% static 'img/setouti.jpg' %}"></td>
                <h1 class="category-p">瀬戸内</h1>
            </div>
        </a>
    </tr>
    </div>

    <footer class="index-footer">
        　　<ul class="footer-menu">

             <a href="{% url 'fish:index' %}">
                <li> 利用規約 ｜</li>
            </a>

             <a href="{% url 'fish:index' %}">
                <li>ホーム ｜</li>
            </a>

            <a href="{% url 'fish:contact_form' %}">
                <li>お問い合わせ </li>
             </a>

            </ul>
            
          </footer>
{% endblock %}